# Ignora tudo por padrão
/*

# Exceções (Arquivos e pastas que DEVEM ir para o Git)
!packages/
!.gitignore
!README.md
!.vscode/
!package.json
!package-lock.json
!.dockerignore
!docker-compose.yml

# Bloqueios específicos (O que NÃO deve ir mesmo dentro das pastas acima)
**/node_modules/
**/.env
**/dist/
**/build/
**/.next/
**/.cache/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.DS_Store
Thumbs.db

desafio-estags-pitang.html
